In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("COVID-19_Historical_Data_by_County.csv")
print(df.columns)
df = df[["NAME", "DATE", "POS_7DAYAVG", "DTH_NEW"]]
df = df.dropna()
df["DATE"] = pd.to_datetime(df["DATE"]).dt.date
df = df.replace(-999, 0)
df

Index(['GEOID', 'GEO', 'NAME', 'DATE', 'POSITIVE', 'POS_NEW', 'POS_7DAYAVG',
       'NEGATIVE', 'NEG_NEW', 'NEG_7DAYAVG', 'DEATHS', 'DTH_NEW',
       'DTH_7DAYAVG', 'TEST_NEW', 'TEST_7DAYAVG', 'HOSP_YES', 'HOSP_NO',
       'HOSP_UNK', 'POS_FEM', 'POS_MALE', 'POS_OTH', 'POS_0_9', 'POS_10_19',
       'POS_20_29', 'POS_30_39', 'POS_40_49', 'POS_50_59', 'POS_60_69',
       'POS_70_79', 'POS_80_89', 'POS_90', 'DTHS_FEM', 'DTHS_MALE', 'DTHS_OTH',
       'DTHS_0_9', 'DTHS_10_19', 'DTHS_20_29', 'DTHS_30_39', 'DTHS_40_49',
       'DTHS_50_59', 'DTHS_60_69', 'DTHS_70_79', 'DTHS_80_89', 'DTHS_90',
       'POS_AIAN', 'POS_ASN', 'POS_BLK', 'POS_WHT', 'POS_MLTOTH', 'POS_UNK',
       'POS_E_HSP', 'POS_E_NHSP', 'POS_E_UNK', 'DTH_AIAN', 'DTH_ASN',
       'DTH_BLK', 'DTH_WHT', 'DTH_MLTOTH', 'DTH_UNK', 'DTH_E_HSP',
       'DTH_E_NHSP', 'DTH_E_UNK', 'POS_HC_Y', 'POS_HC_N', 'POS_HC_UNK',
       'OBJECTID'],
      dtype='object')

            NAME        DATE  POS_7DAYAVG  DTH_NEW
72         Adams  2020-03-16         0.00      0.0
73       Ashland  2020-03-16         0.00      0.0
74        Barron  2020-03-16         0.00      0.0
75      Bayfield  2020-03-16         0.00      0.0
76         Brown  2020-03-16         0.00      0.0
...          ...         ...          ...      ...
26419   Chippewa  2021-03-16         4.71      0.0
26420  Winnebago  2021-03-16        15.57      0.0
26421   Columbia  2021-03-16         4.29      0.0
26422       Wood  2021-03-16         1.86      0.0
26423      Dodge  2021-03-16         4.71      0.0

[26352 rows x 4 columns]

In [3]:
deaths = df[["NAME", "DATE", "DTH_NEW"]].copy()
deaths["DATE"] = deaths["DATE"] - pd.Timedelta(days=14)
deaths = deaths.set_index(deaths["NAME"] + "_" + deaths["DATE"].astype(str))

In [4]:
df = df.set_index(df["NAME"] + "_" + df["DATE"].astype(str))
df.head()

                         NAME        DATE  POS_7DAYAVG  DTH_NEW
Adams_2020-03-16        Adams  2020-03-16          0.0      0.0
Ashland_2020-03-16    Ashland  2020-03-16          0.0      0.0
Barron_2020-03-16      Barron  2020-03-16          0.0      0.0
Bayfield_2020-03-16  Bayfield  2020-03-16          0.0      0.0
Brown_2020-03-16        Brown  2020-03-16          0.0      0.0

In [5]:
df["DTH_NEW_2WK"] = deaths["DTH_NEW"]
df = df.dropna()
df.head()

                         NAME        DATE  POS_7DAYAVG  DTH_NEW  DTH_NEW_2WK
Adams_2020-03-16        Adams  2020-03-16          0.0      0.0          0.0
Ashland_2020-03-16    Ashland  2020-03-16          0.0      0.0          0.0
Barron_2020-03-16      Barron  2020-03-16          0.0      0.0          0.0
Bayfield_2020-03-16  Bayfield  2020-03-16          0.0      0.0          0.0
Brown_2020-03-16        Brown  2020-03-16          0.0      0.0          0.0

In [6]:
df.to_csv("wi-covid.csv", index=False)

In [7]:
df.mean()

POS_7DAYAVG    22.224642
DTH_NEW         0.254104
DTH_NEW_2WK     0.257497
dtype: float64